{% extends 'base.html' %}

  {% block body %}
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-secondary">
            <i class="fas fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div>
        <div class="category-wrapper">
          <h1><a href="{{ url_for('index') }}" class="logo">Categories</a></h1>
          <ul class="list-unstyled components mb-5">
            {% for main in context.root.children %}
              {% if main.type == "Directory" %}
            <li class="active"><a class="cat-folder" href="{{ url_for('display_directory', dir_id=main.id) }}">{{ main.title }}</a></li>
              {% endif %}
              {% if main.children %}
            <ul id="cat-main">
                {% for item in main.children %}
                  {% if item.type == "Directory" %}
              <li><a class="cat-folder" href="{{ url_for('display_directory', dir_id=item.id) }}">{{ item.title }}</a></li>
                  {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </nav>
      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4 category">{{ context.master.title }}</h2>
        <div class="main">
          {% if context.master.links|length > 0 %}
          <div class="folder-wrapper">
            <div class="folder">
              <a
                href="#mainfolder_{{ context.master.id }}"
                class="folder-title"
                data-toggle="collapse"
                ><i class="fas folder-logo fa-sort-down"></i>{{ context.master.title
                }}
              </a>
              <div class="modify-buttons">
                <i class="fas edit fa-pen" id="{{ context.master.id }}"></i>
                <i class="fas delete fa-times" id="{{ context.master.id }}"></i>
              </div>
            </div>
            <ul
              class="main-list collapse show"
              id="mainfolder_{{ context.master.id }}"
            >
            {% for link in context.master.links %}
            <li>
              <div class="link">
                <a href="{{ link.url }}" class="link-title"
                  >
                  {% if link.icon %}
                  <img class="favicon" src="{{ link.icon }}" /> {{ link.title
                  }}</a
                >
                  {% else %}
                  <img class="favicon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAdgAAAHYBTnsmCAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAH6SURBVDiNdZO/axRREMc/8y7h2DtSnKcQRBSuyx9gKYFYJbbGVrE4YyMEYt4mpFgVYXNbXHGJpBFFy9QxaVLoH2AhGLDwCBIRDBYJuptw3hubXV0ecbr5vu+PYXgjeBVFUS1N0xngujHmEoBz7gDYHQwGW91uNyvzpdyEYXhXVZ8C457vL6AOfBOR5TiOXxYPpjCy1j5T1edniI+CIBg3xtwAvqvqC2vtWhEuANbaFeCJJ/zsnLuVJMn7Ami326ONRqMH3AOWVldXYwnDsKWqe0C1JB4EQXA+iqJjf0ezs7OVVqu1BUyKyMSIc25ORKoebzTLsiNrbdEfAOv9fj/Z3NwcWmsfAh+cc3MjwLSfkteeqm6LyFXgQr7EoiaAQ2PMtFhrj4ExT/wqTdN2r9c7LYAwDKecc1dE5BOwk2uOR85IznwxwHA4HBpj1oGgjBtg3zP43Ww2B75rkiRv0zRtAIcFJiL7RlV3PO5YlmWPFhYW6h5OvV6/BjSL3jm3bYwxG8Cpx12pVCo/rbU/yqCqLvPv850YYzZMHMd94LGflte5KIpqAIuLizeBydL4URzH+8UtiLV2Hbh/hsltEfmoqu+AWi5ei+P4AaD+Md3Jj+nifyb6qqpLnU7n9d9JfMb8/HxQrVZngCngcg5/cc7t1mq1N1EUnZT5fwBV0MXmOmx04gAAAABJRU5ErkJggg==" /> {{ link.title
                  }}</a
                >
                  {% endif %}
                <div class="modify-buttons">
                  <i class="fas edit fa-pen" id="{{ link.id }}"></i>
                  <i class="fas delete fa-times" id="{{ link.id }}"></i>
                </div>
              </div>
            </li>
            {% endfor %}
            </ul>

          </div>
          {% endif %}
          {% for mainfolder in context.master.folders %}
          <div class="folder-wrapper">
            <div class="folder">
              <a
                href="#mainfolder_{{ mainfolder.id }}"
                class="folder-title"
                data-toggle="collapse"
                ><i class="fas folder-logo fa-sort-down"></i>{{ mainfolder.title
                }}
              </a>
              <div class="modify-buttons">
                <i class="fas edit fa-pen" id="{{ mainfolder.id }}"></i>
                <i class="fas delete fa-times" id="{{ mainfolder.id }}"></i>
              </div>
            </div>
            <ul
              class="main-list collapse show"
              id="mainfolder_{{ mainfolder.id }}"
            >
              {% for item in mainfolder.children recursive %} {% if item.type ==
              "Url" %}
              <li>
                <div class="link">
                  <a href="{{ item.url }}" class="link-title"
                    >
                    {% if item.icon %}
                    <img class="favicon" src="{{ item.icon }}" /> {{ item.title
                    }}</a
                  >
                    {% else %}
                    <img class="favicon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAdgAAAHYBTnsmCAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAH6SURBVDiNdZO/axRREMc/8y7h2DtSnKcQRBSuyx9gKYFYJbbGVrE4YyMEYt4mpFgVYXNbXHGJpBFFy9QxaVLoH2AhGLDwCBIRDBYJuptw3hubXV0ecbr5vu+PYXgjeBVFUS1N0xngujHmEoBz7gDYHQwGW91uNyvzpdyEYXhXVZ8C457vL6AOfBOR5TiOXxYPpjCy1j5T1edniI+CIBg3xtwAvqvqC2vtWhEuANbaFeCJJ/zsnLuVJMn7Ami326ONRqMH3AOWVldXYwnDsKWqe0C1JB4EQXA+iqJjf0ezs7OVVqu1BUyKyMSIc25ORKoebzTLsiNrbdEfAOv9fj/Z3NwcWmsfAh+cc3MjwLSfkteeqm6LyFXgQr7EoiaAQ2PMtFhrj4ExT/wqTdN2r9c7LYAwDKecc1dE5BOwk2uOR85IznwxwHA4HBpj1oGgjBtg3zP43Ww2B75rkiRv0zRtAIcFJiL7RlV3PO5YlmWPFhYW6h5OvV6/BjSL3jm3bYwxG8Cpx12pVCo/rbU/yqCqLvPv850YYzZMHMd94LGflte5KIpqAIuLizeBydL4URzH+8UtiLV2Hbh/hsltEfmoqu+AWi5ei+P4AaD+Md3Jj+nifyb6qqpLnU7n9d9JfMb8/HxQrVZngCngcg5/cc7t1mq1N1EUnZT5fwBV0MXmOmx04gAAAABJRU5ErkJggg==" /> {{ item.title
                    }}</a
                  >
                    {% endif %}
                  <div class="modify-buttons">
                    <i class="fas edit fa-pen" id="{{ item.id }}"></i>
                    <i class="fas delete fa-times" id="{{ item.id }}"></i>
                  </div>
                </div>
              </li>
              {% else %}
              <div class="subfolder">
                <a
                  href="#subfolder_{{ item.id }}"
                  class="subfolder-title"
                  data-toggle="collapse"
                >
                  <i class="fas folder-logo fa-caret-right"></i>{{ item.title }}
                </a>
                <div class="modify-buttons">
                  <i class="fas edit fa-pen" id="{{ item.id }}"></i>
                  <i class="fas delete fa-times" id="{{ item.id }}"></i>
                </div>
              </div>
              <ul class="subfolder-list collapse" id="subfolder_{{ item.id }}">
                {{ loop(item.children) }}
              </ul>
              {% endif %} {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endblock %}
    {% block script %}
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='scripts/sidebar.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='scripts/content.js') }}"
    ></script>
    {% endblock %}
