<div class="mymodal-content">
  {% if context.type == "url" %}
  <h4 class="mymodal-title">Create Url</h4>
  {% else %}
  <h4 class="mymodal-title">Create Folder</h4>
  {% endif %}
  <div class="input-group mymodal-input">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
    </div>
    <input type="text" class="form-control mymodal-input-title" value="" />
  </div>
  {% if context.type == "url" %}
  <div class="input-group mymodal-input">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Url</span>
    </div>
    <input type="text" class="form-control mymodal-input-url" value="" />
  </div>
  {% endif %}
  <div class="input-group mymodal-input">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Folder</span
      >
    </div>
    <input
      type="text"
      class="form-control mymodal-input-dir"
      value=""
      list="dir-list"
    />
  </div>
  <button type="button" class="btn-cancel btn btn-outline-danger">
    Cancel
  </button>
  <button
    type="button"
    class="btn-confirm btn btn-outline-success"
    id="{{ context.type }}"
  >
    Save
  </button>
</div>
<datalist id="dir-list" class="dir-list">
  {% for dir in context.folders %}
  <option
    name="{{ dir.path }}"
    value="{{ dir.path }}"
    data-id="{{ dir.id }}"
  ></option>
  {% endfor %}
</datalist>
