body {
  background-color: #282c34;
}

a {
  text-decoration: none;
  color: black;
}
a :hover {
  color: black;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul > ul {
  padding-left: 7px;
}
li {
  border-color: rgba(0, 0, 0, 0.125);
  border-width: 1px 0 0 0;
  border-style: solid;
}
li > div > a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: "...   ";
}

/* grid layout attempt
.main {
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 450px);
    grid-gap: 20px;
    grid-auto-flow: dense;
}
.folder-wrapper {
    margin: 15px; <--- remove
} 
*/
/* flex method
.main {
  display: flex;
  flex-wrap: wrap;
} */
#content {
  margin: 50px 0 0 25px;
  display: grid;
  grid-template-rows: 140px auto;
  grid-gap: 20px;
}

#content-header {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, 60px);
  grid-gap: 20px;
}
#add_bookmark,
#add_folder,
#import,
#export,
#clear_database {
  justify-self: center;
  width: 145px;
  margin: 10px;
}
#add_bookmark {
  grid-column: 1/2;
}
#add_folder {
  grid-column: 2/3;
}
#export {
  grid-column: 3/4;
}
#clear_database {
  grid-column: 4/5;
}

#export_button {
  width: 100%;
}
.category {
  color: #fff;
  grid-row: 2/3;
  grid-column: 1/5;
  margin: 0;
}

.main {
  grid-row: 2/3;
  columns: auto 450px;
  column-gap: 15px;
}
.main-list {
  background-color: #d1ffec;
}
.folder-wrapper {
  /* changing the display to block will cause the long list to be divided into two columns */
  display: inline-block;
  width: 450px;
  margin: 0 0 15px 0;
}

.folder {
  background-color: #04915c;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 0 5px 0;
  /* border-color: rgba(0, 0, 0, 0.125);
  border-width: 1px 0 0 0;
  border-style: solid; */
}
.folder-title {
  flex: 1;
  padding: 3px 0 3px 5px;
}
.folder-logo {
  margin-right: 5px;
}
.subfolder {
  background-color: #c5e3f4;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  border-color: rgba(0, 0, 0, 0.125);
  border-width: 1px 0 0 0;
  border-style: solid;
}
.subfolder-title {
  flex: 1;
  padding: 3px 0 3px 5px;
  font-weight: 500;
}

.link {
  background-color: #d1ffec;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  /* border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.125); */
}
.link-title {
  flex: 1;
  padding: 1px;
}
.modify-buttons {
  color: rgb(147, 145, 145);
  padding: 1px 7px 1px 1px;
}
.edit,
.delete {
  cursor: pointer;
  outline: none;
}
.favicon {
  vertical-align: middle;
  margin-top: -10px;
  margin-bottom: -6px;
  max-width: 16px;
}

/* Modal Window */
.mymodal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.mymodal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  background-color: #404040;
  padding: 25px 24px;
  width: 840px;
  display: grid;
  grid-template-columns: repeat(4, 190px);
  grid-row-gap: 20px;
  grid-column-gap: 10px;
}

.mymodal-content form {
  grid-row: 2/3;
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(4, 190px);
  grid-gap: 20px 10px;
}

.mymodal-input {
  grid-column: 1/5;
}
.mymodal-title {
  grid-column: 2/4;
  color: #fff;
  text-align: center;
  margin: 0;
}
.mymodal-input-title,
.mymodal-input-url,
.mymodal-input-dir {
  font-size: 20px;
}
#h5-1,
#h5-2 {
  grid-column: 1/5;
  color: #fff;
  justify-self: center;
}
.btn-cancel {
  grid-column: 2/3;
}
.btn-confirm {
  grid-column: 3/4;
}
.btn-cancel,
.btn-confirm {
  width: 50%;
  justify-self: center;
}
.show-mymodal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
